#header{
	background-color: $mainbg;
	.logo{
		text-align: center;
		padding-top: 15px;
		img{
			max-width: 145px;
		}
	}
	.food_links{
		ul{
			margin: 0;
			padding: 0;
			text-align: center;
			li{
				list-style: none;
				display: inline-block;
				margin-left: 25px;
				a{
					padding: 2em 0;
					color: white;
					font-size: 1em;
					line-height: 2.813em;
					display: block;
					i{
						font-size:2.813em;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

#banner{
	.banner{
		background: url(../images/banner.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 200px;
	}
}

#offer{
	padding:40px 0;
	.offer_one{
		overflow: hidden;
		img{
			transition: 0.5s;
			&:hover{
				transform: scale(1.04) translateZ(0);
			}
		}
	}
}

#products{
	padding:40px 0;
}

#services{
	padding:65px 0 80px 0;
	.feature-icon{
		text-align: center;
		i{
			font-size: 5.056em;
			color:#bdbdbd;
		}
	}
	.feature-label{
		text-align: center;
		h4{
			padding: 15px 0;
			color:#2d2b2d;
			margin-bottom: 0;
		}
		p{
			color: #71706c;
			line-height: 1.6;
		}
	}
}

#footer{
	background-color: $darkbg;
	padding: 80px 0 0 0;
	.news_letter{
		color:#fff;
		h4{
			letter-spacing: 6px;
		}
		.sd_form_control{
			background-color: transparent;
			background: transparent;
			border-radius: 0;
		}
		.form_area{
			max-width: 650px;
			width: 100%;
			margin-top: 62px;
			margin: 60px auto 0 auto;
		}
		.sd-submit{
			float: right;
			transform: translateY(-55px);
			padding: 10px 34px;
		}
	}
	.open_hours{
		margin-top: 30px;
		clear: both;
		opacity: 0.4;
		font-weight: bold;
		letter-spacing: 4px;
	}
	.copy{
		margin-top: 60px;
		padding-bottom: 15px;
		text-align: center;
	}
}

/* -- quantity box -- */

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 30px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 2px 10px 8px;
 height: 30px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

.cart{
	background: #dc3545d6;
	padding: 15px;
	position: fixed;
	top: 50%;
	color: #fff;
	border-radius: 15px 0 0 15px;
	text-align: center;
	transition: all 0.9s ease;
	right: -90px;
	&:hover{
		right: 0;
	}
}
.cart_item{
	display: none;
}

.ls_grp {
	li{
		a{
			color: $black;
		}
	}
}

/*======================
	Login Registration*/
.sd_login{
	width: 100%;
    max-width: 650px;
    margin: 25px auto;
    background-color: #f8f8f8;
    padding: 25px;
    box-shadow: 1px 2px 9px 5px #00000036;
    border-radius: 10px;
    .btn{
    	margin: 0 !important;
    	padding: .5rem 1.14rem !important;
    }
}

.bg_my_profile {
    background: #f5f5f5;
    padding: 15px;
    box-shadow: 1px 2px 11px 4px #ddd;
}


/* =================
 	Responsive =====*/

@media screen and (max-width: 768px){
	.food_links ul li{
		margin-left:5px !important;
	}
	.food_links ul li a{
		padding: 5px 0 !important;
	}
	#header {
	    padding: 10px 0;
	    .col-md-12{
	    	padding-right: 0 !important;
	    	padding-left: 0 !important;
	    }
	}
	.food_links ul li a i{
		font-size: 20px !important;
	}
}